/**
 * Int3ractive.com custom CSS
 */

.footnotes {
	font-size: 0.8em;
}

/* Illustrated video block */
.video {
	display: block;
	margin: auto;
	max-height: 80vh;
}

@media screen and (min-width: 768px) {
	.video {
		margin: 5px;
		max-height: 500px;
	}
	.video--right {
		float: right;
	}
}

@media screen and (min-width: 1024px) {
	.video--right {
		margin-right: -100px;
	}
}


/* Custom CSS for speaking section */
.events {
	list-style: none;
	padding: 0;
}

.events__section {
	padding: 0.2em 0.5em;
	background-color: #eee;
	margin: -1px -15px 1em -15px; /*-1px to cover the bottom border*/
}

.events__section h2 {
	margin: 0;
}

.events__item {
	border-bottom: 1px solid #eee;
	margin-top: 0.5em;
	position: relative;
}

.events__item__desc {
	overflow: hidden;
}

.events__item__title {
	margin: 0.5em 0;
}

.events__item__logo {
	position: absolute;
	width: 100px;
	height: auto;
	right: 0;
	top: -5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

@media screen and (min-width: 768px) {
	.events__item__time {
		float: left;
		margin-right: 1em;
		width: 120px;
	}

	.events__item__logo {
		width: 120px;
		left: 0;
		top: initial;
		bottom: 20px;
	}
}
