/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+markdown+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"],
[data-language] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Monaco, Consolas, "Liberation Mono", Menlo, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*show language name*/
pre[class*="language-"] {
	position: relative;
}

.highlighter-rouge {
	position: relative;
	white-space: normal; /*fix extra height at the code wrappers*/
}

.highlighter-rouge[data-language]::before {
	content: attr(data-language);
	color: black;
	background-color: #CFCFCF;
	display: inline-block;
	position: absolute;
	bottom: auto;
	left: auto;
	top: 0;
	right: 0;
	width: auto;
	height: auto;
	font-size: 0.8em;
	border-radius: 0 5px;
	padding: 0 0.5em;
	text-shadow: none;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/*FIXME: move to clean-blog.css*/
.footnotes {
	font-size: 0.8em;
}

.events {
	list-style: none;
	padding: 0;
}

.events__section {
	padding: 0.2em 0.5em;
	background-color: #eee;
	margin: -1px -15px 1em -15px; /*-1px to cover the bottom border*/
}

.events__section h2 {
	margin: 0;
}

.events__item {
	border-bottom: 1px solid #eee;
	margin-top: 0.5em;
	position: relative;
}

.events__item__desc {
	overflow: hidden;
}

.events__item__title {
	margin: 0.5em 0;
}

.events__item__logo {
	position: absolute;
	width: 100px;
	height: auto;
	right: 0;
	top: -5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

@media screen and (min-width: 768px) {
	.events__item__time {
		float: left;
		margin-right: 1em;
		width: 120px;
	}

	.events__item__logo {
		width: 120px;
		left: 0;
		top: initial;
		bottom: 20px;
	}
}


