{
	"root": true,
	"extends": ["eslint:recommended"],
	"env": { "browser": true, "es2020": true, "node": true },
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module"
	},
	"ignorePatterns": ["slides/", "_site/"],
	"rules": {
		"no-console": "off"
	},
	"settings": {}
}
