{
	"root": true,
	"extends": ["eslint:recommended"],
	"env": { "browser": true, "es6": true, "node": true },
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"impliedStrict": true,
		"ecmaFeatures": {}
	},
	"ignorePatterns": ["slides/", "_site/"],
	"rules": {
		"no-console": "off"
	},
	"settings": {}
}
