---
title: Blog posts by year
pagination:
  data: global.years
  size: 1
  alias: year
permalink: /blog/{{ year }}/
---
{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading %}Posts published in {{ year }}{% endset %}
{% set introHeadingLevel = '2' %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListItems = helpers.filterPostsByYear(collections.posts, year) %}
{% set postListHeading = postListItems.length +' posts'  %}

{# Pagination #}
{% if year > global.years | first %}
  {% set paginationPrevText = 'Posts in ' + (year - 1) %}
  {% set paginationPrevUrl = pagination.href.previous %}
{% endif %}
{% if year < global.years | last %}
  {% set paginationNextText = 'Posts in ' + (year + 1) %}
  {% set paginationNextUrl = pagination.href.next %}
{% endif %}


{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% if postListItems.length == 0 %}
    <div class="inner-wrapper"><p>No posts found.</p></div>
    {% endif %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
