/**
 * ICON UTILITY
 * A handy little utility that by default, sets your icons to 1em, width and height. 
 * This means that the icon will scale with its parent's font size.
 * You can change the base size, class prefix and block name below.
 */

// Config items
$stalfos-utility-icon__size: 1em !default;
$stalfos-utility-icon__enabled: get-config-value('icon', 'utilities') !default;
$stalfos-utility-icon__prefix: $stalfos-util-prefix !default;
$stalfos-utility-icon__block: 'icon';

// Block starts if enabled in your `$stalfos-config`
@if ($stalfos-utility-icon__enabled == 'on') {
  #{ '.' + $stalfos-utility-icon__prefix + $stalfos-utility-icon__block } {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}
