<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<ul class="list-inline text-center">
					<li>
						<a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-rss fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% if site.twitter_username %}
					<li>
						<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-twitter fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% endif %}
					{% if site.facebook_username %}
					<li>
						<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-facebook fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% endif %}
					{% if site.googleplus_userid %}
					<li>
						<a href="https://plus.google.com/u/0/{{ site.googleplus_userid }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-google-plus fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% endif %}
					{% if site.linkedin_username %}
					<li>
						<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% endif %}
					{% if site.github_username %}
					<li>
						<a href="https://github.com/{{ site.github_username }}" target="_blank">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-github fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% endif %}
				</ul>
				<p class="copyright text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved. Powered by <a href="https://pages.github.com" target="_blank">GitHub Pages</a></p>
			</div>
		</div>
	</div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Prism Code Highlighter -->
<script src="{{ "/js/prism.js " | prepend: site.baseurl }}"></script>

{% include analytics.html %}
