<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if page.layout == 'post'
	%}<title>{{ page.title }} - {{ site.title}}</title>
	{% else
	%}<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.seo_title }}</title>
	{% endif %}
	{% seo title=false %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="pingback" href="https://webmention.io/int3ractive.com/xmlrpc" />
	<link rel="webmention" href="https://webmention.io/int3ractive.com/webmention" />

	<!-- Main CSS with custom Bootstrap, Prism -->
	<link rel="stylesheet" href="{{ "/css/clean-blog.min.css" | prepend: site.baseurl }}">

	<!-- Custom CSS for Int3ractive.com -->
	<link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

	<!-- Web Fonts -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans:300,600&amp;subset=latin-ext,vietnamese" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
