// Variables
// stylelint-disable color-no-hex, color-hex-length
$brand-primary: #1177cc;
$gray-link: lighten(#000, 35%);
$gray: #666;
$white-faded: rgba(#fff, 0.8);
// code block use dark theme
$pre-bg: #1e1e1e;
$pre-color: #c5c8c6;
