.intro {
	position: relative;
	background: var(--color-theme-highlight-block);

	&--with-cover {
		background: none;

		& .intro__wrapper {
			padding: 1.25rem;
		}
	}

	&__summary {
		--flow-space: #{get-size(500)};
		font-size: get-size(500);

		a {
			color: currentColor;

			&:hover {
				color: var(--color-theme-primary-glare);
				text-decoration-style: dashed;
			}
		}
	}

	&__heading {
		max-width: 40ex;
		color: var(--color-theme-feature-text);
		word-wrap: break-word;
		hyphens: auto;

		&--compact {
			max-width: 20ex;
		}
	}
}

.cover-image {
	position: relative;

	&__frame {
		position: relative;
		overflow: hidden;
		background: white;
		display: flex;
		justify-content: center;
	}

	&__img {
		display: block;
		width: auto;
		max-width: 100%;
		max-height: 66.67vh;
		object-fit: contain;
	}

	& figcaption {
		background: var(--color-theme-highlight-block);
		opacity: 0.6;
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 0;
		font-style: italic;
		margin-bottom: 0;

		@media screen and (min-width: 48rem) {
			opacity: 1;
			background: none;
			bottom: initial;
		}
	}
}

.cover-image + * {
	margin-top: 1.25rem;
}
