.post-list {
	&__item {
		--flow-space: #{get-size(700)};
	}

	&__link {
		&,
		&:visited {
			color: var(--color-theme-primary);
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.tags {
	margin-left: -#{get-size(300)};
	margin-right: -#{get-size(300)};

	&__item {
		display: inline-block;
		background: var(--color-theme-highlight-block);
		margin: #{get-size(200) get-size(300)};

		a {
			padding: #{get-size(100) get-size(300)};
			display: block;
			color: var(--color-theme-primary);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
