body {
	// Strip the unit off the size ratio to generate a line height
	$line-height: get-size(600);
	line-height: $line-height / ($line-height * 0 + 1);

	@include apply-utility('font', 'base');
}

h1,
h2,
h3 {
	@include apply-utility('font', 'sans');
}

h1 {
	font-size: get-size(700);
}

h2 {
	font-size: get-size(600);
}

h3 {
	font-size: get-size(500);
}

code {
	font-family: IBM Plex Mono, Menlo, SF Mono, Consolas, Cascadia Code, monospace;
}

@include media-query('md') {
	h1 {
		font-size: get-size(900);
	}

	h2 {
		font-size: get-size(800);
	}

	h3 {
		font-size: get-size(700);
	}
}
