<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% if site.webmentionio %}
  <link rel="pingback" href="https://webmention.io/{{ site.webmentionio }}/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/{{ site.webmentionio }}/webmention" />
  {% endif %}
  {% include "partials/global/meta-info.njk" %}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{gaid}}', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  <script>document.documentElement.classList.remove('no-js');</script>
  <link href="https://fonts.googleapis.com/css?display=swap&family=Lora:400,400i,700|Open+Sans:300,600&amp;subset=latin-ext,vietnamese" rel="stylesheet">
  <link href="/css/global.css" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}
  <script type="module" src="/js/components/theme-toggle.js" async defer></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <!-- script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script -->
</body>
</html>
